doctype html
html
    head
        title= name
        style.
            html, body {
                margin: 0;
                padding: 0;
            }

            .container {
                position: relative;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
            }

            .cell {
                position: absolute;
                box-sizing: border-box;
            }

            iframe {
                border: none;
            }
    body
        block content
        script.
            var adminToken = '!{token}';
            function getQueryParams() {
                var params = location.search.replace(/^\?/, '').split('&');
                var data = {};
                params.forEach(function (p) {
                    var value = p.split('=');
                    data[value[0]] = value[1];
                })
                return data;
            }
            var tokenId = getQueryParams().tokenId;

            function postMessage(token) {
                var ifrs = document.getElementsByTagName('iframe');
                [].slice.apply(ifrs).forEach(function (ifr, index) {
                    ifr.onload = function () {
                        ifr.contentWindow.postMessage(JSON.stringify({
                            token: token,
                            id: index,
                        }), ifr.src.split('/#')[0]);
                    }
                })
            }

            if (tokenId) {
                fetch('http://10.16.40.172:8002/afs/serverbasedigital/boardtokenservice/GetToken', {
                    body: new URLSearchParams('tokenId=' + tokenId),
                    method: 'POST',
                    mode: 'cors',
                })
                    .then(function (response) {
                        if (response.ok) {
                            return response.json();
                        }
                    })
                    .then(function (res) {
                        if (res.Success) {
                            postMessage(res.Extra.TOKEN)
                        } else {
                            console.log(res.Message);
                        }
                    })
                    .catch(function (error) {
                        console.log('There has been a problem with your fetch operation: ', error.message);
                    })
            } else {
                if (adminToken) {
                    postMessage(adminToken);
                } else {
                    console.warn('must need tokenId to get token from serve!');
                }
            }
